<%- include('header.html') -%>
<main class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if(locals.data){ for(let i=0; i < data.length; i++) { %>
        <tr>
          <th scope="row">
            <%= data[i].id %>
          </th>
          <td>
            <%= data[i].firstname %>
          </td>
          <td>
            <%= data[i].lastname %>
          </td>
          <td>
            <%= data[i].email %>
          </td>
          <td>
            <%= data[i].phone %>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-view "><i class="far fa-eye"></i> View</button>
              <button type="button" class="btn btn-edit"><i class="fas fa-pencil-alt"></i> Edit</button>
              <button type="button" class="btn btn-delete"><i class="fas fa-trash-alt"></i> Delete</button>
            </div>
          </td>
        </tr>
        <%}}%>
    </tbody>
  </table>
</main>
<%- include('footer.html') -%>