<%- include('header.html') -%>
  <main class="container user-profile">
    <h2>User Profile</h2>
    <div class="row my-5">
      <div class="col-4">
        <p class="initials mx-auto">
          <%= `${data[0].firstname[0]}${data[0].lastname[0]}` %>
        </p>
      </div>
      <div class="col">
        <p>
          <i class="far fa-user"></i>
          <%= `${data[0].firstname} ${data[0].lastname}` %>
        </p>
        <p><i class="far fa-envelope"></i>
          <%= data[0].email %>
        </p>
        <p>
          <i class="fas fa-phone-alt"></i>
          <%= data[0].phone %>
        </p>
        <p>
          <i class="fas fa-map-marker-alt"></i>
          <%= `${data[0].address} ${data[0].postal_code}, ${data[0].city}, ${data[0].country}`%>
        </p>
      </div>
    </div>
    <a class="btn btn-return mt-4" href="/api/v1/users" role="button"><i class="fas fa-chevron-left"></i> Return</a>

  </main>
  <%- include('footer.html') -%>