body {
  font-family: "Courier New", Courier, monospace;
}

header {
  background: #6667ab;
}
/* Navigation */
.nav-item:hover {
  background-color: #787ac7;
  color: #fff;
}

/* Index Page */
.navbar {
  margin-bottom: 56px;
}

.btn-view:hover {
  color: #66b0e0;
}
.btn-edit:hover {
  color: #cba42c;
}

.btn-delete:hover {
  color: #84342d;
}

.btn,
.page-item {
  color: #6667ab;
}

.link-selected {
  color: #fff;
  background-color: #6667ab;
}

.hidden {
  display: none;
}

/* .btn:active {
  color: #fff;
  background-color: #6667ab;
} */

.btn-view:active, .btn-return {
  color: #fff;
  background-color: #66b0e0;
}
.btn-edit:active {
  color: #fff;
  background-color: #cba42c;
}

.btn-delete:active {
  color: #fff;
  background-color: #84342d;
}

/* View User Page */

.user-profile{
  max-width: 50rem;
  
}

.initials {
  font-size: 70px;
  text-align: center;
  vertical-align: middle;
  background-color: #6667ab;
  color: #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 25px;
  margin: auto 0 auto 0;
}
